includes:
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
    paths:
        - app
    level: 4
    ignoreErrors:
    excludePaths:
        - "app/Modules/*/Tests/*"
    checkGenericClassInNonGenericObjectType: false
