includes:
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
    paths:
        - app
    level: 5
    ignoreErrors:
    excludePaths:
        - "app/Modules/*/Tests/*"
        - "app/Modules/*/Transformers/*"
        - "app/Modules/Client/OAuth/*"
        - "app/Modules/Client/Console/*"
        - "app/Modules/Client/Database/factories/*"
    checkGenericClassInNonGenericObjectType: false
